@tailwind base;
@tailwind components;
@tailwind utilities;

nav .drop-down-item {
  @apply hover:bg-digifly-green hover:text-white m-1;
}

.contained {
  @apply w-full lg:w-[85%] px-4 lg:p-0 md:p-2;
}
