.toolbar-btn {
  @apply flex flex-col justify-center items-center;
  @apply w-[25%] md:w-[12.5%] lg:w-[6.25%] h-16 align-middle text-center py-2 px-0;
  @apply cursor-pointer outline-none;
  background-color: rgba(248, 247, 252, 1);
  border-right: 0.5px solid rgba(109, 92, 188, 0.05);
  border-top: 0.5px solid rgba(109, 92, 188, 0.05);
}

.toolbar-btn .hover-drop-down .option {
  @apply hover:text-white hover:bg-digifly-green;
}

.toolbar-btn {
  @apply hover:bg-digifly-green-lighter;
}

.toolbar-btn.active {
  @apply bg-digifly-green hover:bg-digifly-green;
}

.toolbar-btn.active .icon {
  @apply invert;
}
