.toolbar-btn {
  @apply flex flex-col justify-center items-center;
  @apply w-20 h-16 align-middle text-center py-2 px-6;
  @apply cursor-pointer outline-none;
  background-color: rgba(248, 247, 252, 1);
  border-right: 0.5px solid rgba(109, 92, 188, 0.05);
}

.toolbar-btn.active {
  @apply bg-digifly-green;
}

.toolbar-btn.active .icon {
  @apply invert;
}
