@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --blurred-spot-light-rgba: 109, 92, 188, 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="text"]::placeholder {
  color: rgba(179, 179, 179, 1);
}

.general-gray-border {
  @apply rounded-sm border-[1px] border-solid !important;
  border-color: rgba(229, 229, 229, 1) !important;
}

.locale-root:lang("en") {
  direction: ltr;
}
.locale-root:lang("ar") {
  direction: rtl;
}

.custom-ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

ol {
  counter-reset: list-counter;
}

ol li {
  list-style-type: none;
  position: relative;
  padding-left: 1.5em;
}

ol li::before {
  content: counter(list-counter) ". ";
  counter-increment: list-counter;
  position: absolute;
  left: 0;
}

.fixed-direction {
  direction: ltr;
}

.vertical-fading {
  margin: 100px;
  display: block;
  position: relative;
  height: 500px;
  width: 500px;
}

.vertical-fading:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 12px 15px -4px #fff, inset 0 -12px 8px -4px #fff;
}
